<!-- Animacion Boton Get Started -->
<div class="started">
    <div class="svg hide" id="svg"></div>
    <!-- GET STARTED & Button -->
<div class='started button'>
    <a href="user" class="started-button">Get Started</a>
    <br>
    </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js" integrity="sha512-V1YyTKZJrzJNhcKthpNAaohFXBnu5K9j7Qiz6gv1knFuf13TW/3vpgVVhJu9fvbdW8lb5J6czIhD4fWK2iHKXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    const svgContainer = document.getElementById('svg');
    const animItem = bodymovin.loadAnimation({
        wrapper: svgContainer,
        animType: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://assets2.lottiefiles.com/packages/lf20_aRvNGV.json'
    });
</script>