<div class="logo">
    <a href="/">
    <img src="/images/Logo-PNG1.png"> </a>  
</div>

<!-- BARRA DE BUSQUEDA -->
<div class="buscar">
    <input type="text" placeholder="Buscar" required>
    <div class="btn">
        <i class="fas fa-search"></i>
    </div>
       </div>